body {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #434455;
    background-color: #FFFFFF;
}
a {
    text-decoration: none;
}
ul, ol {
  list-style: none; 
  padding: 0;
  margin: 0;
}
h1, h2, h3, h4, h5, p {
    padding: 0;
    margin: 0;
}
h1, h2, h3 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}
h2 {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0.02em;
}
img {
    display: block;
}

button {
    background-color: #4D5AE5;
    color: #FFFFFF;
    cursor: pointer;
    padding: 16px 8px;    
    background: none;
    border: none;

}

.container { 
max-width: 1158px ;
padding-left:  15px;
padding-right:  15px;
margin-left:  auto;
margin-right:  auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}
/* #region main-header */
.page-header {
    border-bottom: 1px solid #E7E9FC;
}
.header-logo, .footer-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;  

}
 .header-logo {
    color: #4D5AE5;
    letter-spacing: 0.03em;
    padding: 24px 0;
    margin-right: 76px;
 }
 .header-logo-studio {
  color: #2E2F42;
}
.header-logo:hover {
    color: #404bbf
}
a.header-menu {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #2E2F42;
    letter-spacing: 0.02em;
    padding: 24px 0;
    display: block;
}
a.header-menu:hover, a.header-menu:active, a.header-menu:focus {
    color: #404BBF;
}
.header-address {
  font-style: normal;
  margin-left: auto;
}
.header-address-ul {
  display: flex;
  align-items:  center;
  gap: 40px;
}
a.header-contacts {
    color: #434455;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    display: block;
    padding: 24px 0;
}
.header-contacts:hover, .header-contacts:active, .header-contacts:focus {
    color: #404BBF;
}
.header-container {
    display: flex;
    align-items: center;
}
.header-nav {
    display: flex;
    align-items:  center;
}
.nav-ul {
   display: flex;
   align-items:  center; 
   gap: 40px; 
}
/* #endregion main-header*/
/* #region main-section */
.main-section {
    background-color: #2e2f42;
    padding: 188px 0;
}
.main-container {
  margin:0 auto;
}

button:active, button:hover, button:focus {
    background-color: #404BBF;
}
.main-button {    
    font-size: 16px;
    line-height: 1.5;  
    font-weight: 500;
    letter-spacing: 0.04em ;
    border-radius: 4px;   
    width: 169px;
    height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4D5AE5;
    margin: 0 auto;
    display: block;
    min-width: 169px;
}
.main-title {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    text-transform: capitalize;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 48px;
    max-width: 496px;
  
}

/* #endregion main-section */
/* #region section-principles */
.principles {
    padding: 120px 0;
}
.principle-block {
    width: calc((100% - 72px) / 4);
}
.principle-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 8px;
}
.principle-text {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    letter-spacing: 0.02em;
    color: #434455;
}
.principles-ul {
    display:flex;
    align-items: flex-start;
    gap: 24px;
}

/* #endregion section-principles */
/* #region section-team */
.team-title {
    font-size: 36px;
    line-height: 1.11;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}
.team {
    background-color: #F4F4FD;
    padding: 120px 0;
}
.title {
    margin-bottom: 72px;
}
.team-members-ul {
    display: flex;
    align-items: center;
    gap: 24px;
}
.team-member-card {
    background-color: #ffffff;
    text-align: center;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);


}
.team-member-block {
    padding: 32px 0;
}
.team-member-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color:  #2e2f42;
    margin-bottom: 8px;
    text-align: center;

}
.team-member-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
}
/* #endregion section-team */

/* #region section-portfolio */ 
.portfolio {
    padding: 120px 0;
}
.title-portfolio {
  
    margin-bottom:  72px;
}
.portfolio-ul {
    display: flex;
    align-items: center;
    gap: 24px;
    flex-wrap: wrap;
    row-gap: 48px; 
}
.portfolio-block {
    width: calc((100% - 48px) / 3);
}
.portfolio-text-box {
    border-bottom: 1px solid #E7E9FC;
    border-left: 1px solid #E7E9FC;
    border-right: 1px solid #E7E9FC;
    padding: 32px 16px;
}
.portfolio-name {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;
    line-height: 1.2;
    color:#2e2f42;
    margin-bottom: 8px
}
.portfolio-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
 }
/* #endregion section-portfolio */

/* #region site-footer */
.site-footer {
    background-color: #2e2f42;
    padding: 100px 0;
}
.footer-container {
   margin-right: auto;
}
.footer-logo {
  color:#4D5AE5;
  letter-spacing: 0.03em;
  display: block;
  margin-bottom: 16px;
  display: inline-block;
}
.footer-logo-studio {
  color:#F4F4FD;
}
.fotter-text {
    line-height: 1.5;
    color:#F4F4FD;
    letter-spacing: 0.02em;
    max-width: 264px;
}
/* #endregion site-footer */