body {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #434455;
    background-color: #FFFFFF;
}
a {
    text-decoration: none;
}
ul, ol {
  list-style: none; 
  padding: 0;
  margin: 0;
}
h1, h2, h3, h4, h5, p {
    padding: 0;
    margin: 0;
}
h1, h2, h3 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}
h2 {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0.02em;
}
img {
    display: block;
}

button {
    background-color: #4D5AE5;
    color: #FFFFFF;
    cursor: pointer;
    padding: 16px 8px;    
    background: none;
    border: none;

}

.container { 
max-width: 1158px ;
padding-left:  15px;
padding-right:  15px;
margin-left:  auto;
margin-right:  auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}
/* #region main-header */
.page-header {
    border-bottom: 1px solid #E7E9FC;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}
.header-logo, .footer-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;  

}
 .header-logo {
    color: #4D5AE5;
    letter-spacing: 0.03em;
    padding: 24px 0;
    margin-right: 76px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }
 .header-logo-studio {
  color: #2E2F42;
}
.header-logo:hover,
.header-logo:focus  {
    color: #404bbf
}
a.header-menu {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #2E2F42;
    letter-spacing: 0.02em;
    padding: 24px 0;
    display: block;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
a.header-menu:hover, a.header-menu:active, a.header-menu:focus {
    color: #404BBF;
}
.active a {
     color: #404BBF;
}
.active a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;               
  background-color: #404BBF;  
  border-radius: 2px;

}
.header-address {
  font-style: normal;
  margin-left: auto;
}
.header-address-ul {
  display: flex;
  align-items:  center;
  gap: 40px;
}
a.header-contacts {
    color: #434455;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    display: block;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.header-contacts:hover, .header-contacts:active, .header-contacts:focus {
    color: #404BBF;
}
.header-container {
    display: flex;
    align-items: center;
}
.header-nav {
    display: flex;
    align-items:  center;
}
.nav-ul {
   display: flex;
   align-items:  center; 
   gap: 40px; 
}
/* #endregion main-header*/
/* #region main-section */
.main-section {
    padding: 188px 0;
    max-width: 1440px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-image: linear-gradient(
      rgba(46, 47, 66, 0.7), 
      rgba(46, 47, 66, 0.7)),
       url("../images/people-office.jpg");
}
.main-container {
  margin:0 auto;
}
button {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
button:active, button:hover, button:focus {
    background-color: #404BBF;
}
.main-button {    
    font-size: 16px;
    line-height: 1.5;  
    font-weight: 500;
    letter-spacing: 0.04em ;
    border-radius: 4px;   
    width: 169px;
    height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4D5AE5;
    margin: 0 auto;
    display: block;
    min-width: 169px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.main-title {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    text-transform: capitalize;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 48px;
    max-width: 496px;
  
}

/* #endregion main-section */
/* #region section-principles */
.principles {
    padding: 120px 0;
}
.principle-block {
    width: calc((100% - 72px) / 4);
  
}
.principle-icon-block {
    border: 1px solid #8E8F99;
    border-radius: 4px;
    background-color: #F4F4FD;
    margin-bottom: 8px;
    text-align: center;
    padding: 24px 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
     justify-content: center;
     height: 112px;
}
.principle-icon {
     fill: #2a2a2a;

}
.principle-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 8px;
}
.principle-text {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    letter-spacing: 0.02em;
    color: #434455;
}
.principles-ul {
    display:flex;
    align-items: flex-start;
    gap: 24px;
}

/* #endregion section-principles */
/* #region section-team */
.team-title {
    font-size: 36px;
    line-height: 1.11;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}
.team {
    background-color: #F4F4FD;
    padding: 120px 0;
}
.title {
    margin-bottom: 72px;
}
.team-members-ul {
    display: flex;
    align-items: center;
    gap: 24px;
}
.team-member-card {
    background-color: #ffffff;
    text-align: center;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-member-block {
    padding: 32px 0;
}
.team-member-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color:  #2e2f42;
    margin-bottom: 8px;
    text-align: center;

}
.team-member-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
}
.team-icons {
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: center;
}

.team-icon-li{
    
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
   }
.team-icon {
    fill: #f4f4fd;
}

 .team-icon-href:hover,
 .team-icon-href:active,
 .team-icon-href:focus {
   background-color: #404BBF;
}
.team-icon-href {
    height: 100%;
    width: 100%;
    background-color: #4D5AE5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    display: flex;
}

/* #endregion section-team */

/* #region section-portfolio */ 
.portfolio {
    padding: 120px 0;
}
.title-portfolio {
  
    margin-bottom:  72px;
}
.portfolio-ul {
    display: flex;
    align-items: center;
    gap: 24px;
    flex-wrap: wrap;
    row-gap: 48px; 
}
.portfolio-block {
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-img {
    position: relative;
    overflow: hidden;
}
.portfolio-block img {
    width: 100%;
    height: auto;
}
.portfolio-block:hover,
.portfolio-block:active,
.portfolio-block:focus {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    }

.portfolio-text-box {
    border-bottom: 1px solid #E7E9FC;
    border-left: 1px solid #E7E9FC;
    border-right: 1px solid #E7E9FC;
    padding: 32px 16px;
}
.portfolio-name {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;
    line-height: 1.2;
    color:#2e2f42;
    margin-bottom: 8px
}
.portfolio-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
 }
 .portfolio-overlay {
    color: #F4F4FD;
    background-color: #4D5AE5;
    padding: 40px 32px;
    position: absolute;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    height: 100%;
    width: 100%;
    top:0;
    bottom:0;
    left:0;
    right: 0;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

 }
.portfolio-block:hover  .portfolio-overlay,
.portfolio-block:active  .portfolio-overlay,
.portfolio-block:focus  .portfolio-overlay {
    transform: translateY(0%);
}
/* #endregion section-portfolio */

/* #region site-footer */
.site-footer {
    background-color: #2e2f42;
    padding: 100px 0;
}
.footer-container {
   margin-right: auto;
   display: flex;
   gap: 120px;
   justify-content: flex-start;
   align-items: baseline;

}
.footer-logo-block {
    max-width: 264px;
    margin-right: 120px;
}
.footer-logo {
  color:#4D5AE5;
  letter-spacing: 0.03em;
  display: block;
  margin-bottom: 16px;
  display: inline-block;
}
.footer-logo-studio {
  color:#F4F4FD;
}
.footer-text {
    line-height: 1.5;
    color:#F4F4FD;
    letter-spacing: 0.02em;
    max-width: 264px;
}
.footer-icons-block{
    max-width:208px;
}

.footer-icon-ul {
    display: flex;
    gap: 16px; 
      justify-content: center;
    align-items: center;
    
}
.footer-icon-href{
    background-color: #4D5AE5;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
    justify-content: center;
     align-items: center;
}
.footer-icon-href:hover,
.footer-icon-href:active,
.footer-icon-href:focus {
   background-color: #31D0AA;
}
.footer-social {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}
.footer-left-block {
    margin-right: 120px;
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
}
.footer-icon {
    fill: #f4f4fd;
}
.footer-icon-li {
    display: flex;
    justify-content: center;
     align-items: center;
}
/* #endregion site-footer */